@import '~antd/lib/style/index.less';
// @import "../lib/style/dark.less";
@import 'component.less';
@import 'default.less';

@font-family: -apple-system, BlinkMacSystemFont, 'Maven Pro', 'Segoe UI', Roboto,
	'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

#__next .ant-primary {
	color: @primary-color;
}


.ant-message .ant-message-notice-content {
	padding: 3rem;
	border-radius: 6px;
	font-weight: bold;
	font-size: 1.2rem;
}

.ant-message .anticon {
font-size: 1.2rem;
}

.ant-hidden {
display: none !important;
}

.ant-layout {
	display: flex;
	flex: auto;
	flex-direction: column;
	min-height: 0;
	background: #f9f9f9;
}





