@import '~antd/lib/style/index.less';
// @import "../lib/style/dark.less";

@import './component.less';
@font-family: -apple-system, BlinkMacSystemFont, 'Maven Pro', 'Segoe UI', Roboto,
	'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

#__next .ant-primary {
	color: @primary-color;
}

.ant-messages>div {
	background: rgba(225, 225, 230, 0.6);
	padding: 2rem;

}

.ant-hidden {
display: none !important;
}

.ant-layout {
	display: flex;
	flex: auto;
	flex-direction: column;
	min-height: 0;
	background: #f9f9f9;
}

.ant-layout-content {
background: rgba(255, 255, 255, 0.4);
border: 1px solid rgba(120, 120, 120, 0.2);
}

.ant-layout-footer {
	background: #001529;
}

.ant-layout-content > div {
		background: #ffffff;
}
