@import '~antd/lib/style/index.less';
// @import "../lib/style/dark.less";

@import './component.less';
@font-family: -apple-system, BlinkMacSystemFont, 'Maven Pro', 'Segoe UI', Roboto,
	'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

#__next .ant-primary {
	color: @primary-color;
}

.ant-messages>div {
	background: rgba(225, 225, 230, 0.6);
	padding: 2rem;
}

.ant-hidden {
display: none !important;
}
